---
name: Headline
---
<style scoped>
	.headline {
		font-family: 'anton';
		line-height: 1;
		text-transform: uppercase;
		text-decoration: none;
		word-spacing: 100vw;
		color: var(--hex-white);
	}

	.headline.headline--l {
		font-size: 10rem;
	}

	.headline.headline--m {
		font-size: 6.4rem;
	}

	.headline.headline--s {
		font-size: 4.8rem;
	}

</style>

var defaultTitle = 'Festive';

<props.Tag
	className={props.level ? `${style.headline} ${style.headline}--${props.level} ${props.className}` : style.headline}>
	{props.copy || defaultTitle}
</props.Tag>
