---
name: Navi
---
<style scoped>
	.navigation {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;
		max-height: calc(var(--text-copy) * 1.2);
		margin-top: 50px;
		text-align: center;
		overflow: hidden;
		transform: translateX(-50%);
	}

	.list {
		display: flex;
		justify-content: center;
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.item {
		max-width: 2px;
		padding: 0 3px;
		border-left: 2px solid var(--hex-white);
		overflow: hidden;
		line-height: 1.2;
		transition: max-width .4s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.item:last-child {
		border-right: 2px solid var(--hex-white);
	}


	.link {
		position: relative;
		display: inline-block;
		padding: 0 22px;
		opacity: 0;
		color: var(--hex-white);
		text-decoration: none;
		pointer-events: none;
	}

	.link::after {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 2px;
		width: 70%;
		background-color: var(--hex-salmon);
		transform: translate(-50%);
	}

	.link:hover::after {
		content: "";
	}

	.trigger {
		display: block;
		max-height: inherit;
		cursor: pointer;
	}

	.state {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		visibility: hidden;
		transform: translate(-100%, -100%);
	}

	.state:checked ~ .trigger .item  {
		max-width: 100%;
		transition-duration: .6s;
	}

	.state:checked ~ .trigger .link  {
		opacity: 1;
		pointer-events: auto;
		transition: opacity .3s .3s ease;
	}
</style>

<nav className={style.navigation}>
	<input type="checkbox" className={style.state} data-navi-state id="navi-state" autoComplete="off" />
	<label className={style.trigger} htmlFor="navi-state">
		<ul className={style.list}>
			<li className={style.item}>
				<a className={style.link} href="./day-one.html">Day 01</a>
			</li>
			<li className={style.item}>
				<a className={style.link} href="./day-two.html">Day 02</a>
			</li>
			<li className={style.item}>
				<a className={style.link} href="./day-three.html">Day 03</a>
			</li>
			<li className={style.item}>
				<a className={style.link} href="./day-four.html">Day 04</a>
			</li>
		</ul>
	</label>
</nav>
