---
name: Table
---
<style scoped>
	.table {
		box-sizing: border-box;
		width: 50%;
		padding-left: 0;
		margin: 50px 120px 60px calc(50% - 120px);
		list-style: none;
		color: var(--hex-white);
	}

	.item {
		position: relative;
		margin-bottom: 5px;
	}

	.item::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 6px;
		height: 1px;
		width: 50%;
		border-bottom: 1px dashed var(--hex-white);
		transform: translateX(-50%);
	}

	.item:first-child {
		margin-bottom: 50px;
	}

	.item:first-child::before {
		bottom: 12px;
		width: 45%;
		border-bottom-style: solid;
	}

	.item:first-child::after {
		content: "";
		position: absolute;
		right: 25%;
		bottom: 4px;
		height: 18px;
		width: 18px;
		border: 1px solid var(--hex-white);
		border-bottom-style: solid;
		transform: rotate(45deg);
	}

	.cell {
		display: inline-block;
		width: 50%;
	}

	.cell:last-child {
		text-align: right;
	}

</style>
<ul className={style.table}>
	<li className={style.item}>
		<span className={style.cell}>{props.from}</span>
		<span className={style.cell}>{props.to}</span>
	</li>
	<li className={style.item}>
		<span className={style.cell}>Distance</span>
		<span className={style.cell}>{props.distance}</span>
	</li>
	<li className={style.item}>
		<span className={style.cell}>Altitude</span>
		<span className={style.cell}>{props.altitude}</span>
	</li>
	<li className={style.item}>
		<span className={style.cell}>Calories</span>
		<span className={style.cell}>{props.calories}</span>
	</li>
</ul>
