html {
	text-size-adjust: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

object {
	display: block;
}


img {
	display: block;
	border: 0;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

figure {
	margin: 0;
}


main {
	display: block; // FIX IE 11
}
