.src-pages-index-html--68207082-parallax {
  height: 100vh;
  max-height: 1680px;}
.src-pages-index-html--68207082-container {
  transform-style: preserve-3d;}
.src-pages-index-html--68207082-img {
  transform: scale(2) translate3d(-30%, 900%, -1px);}
.src-pages-index-html--68207082-figures {
  transform: scale(1.66749) translate3d(60%, 860%, -.66749px);}
.src-pages-index-html--68207082-headline {
  margin: 0;}
.src-pages-index-html--68207082-small {
  display: inline-block;
  margin-bottom: 50px;
  color: white;}
.layout-1674784807-thtml {
  --hex-salmon: #F4728F;
  --hex-darkness: #191919;
  --hex-darkgray: #545E61;
  --hex-gray: #616C70;
  --hex-mid-gray: #B5B6B5;
  --hex-light-gray: #CCCCCC;
  --hex-pale-gray: #E7E7E8;
  --hex-pale-lime: #E0ED3F;
  --hex-lime: #EDED3F;
  --hex-purple: #1D2C4F;
  --hex-pink: #DC5197;
  --hex-white: #FFFFFF;
  --hex-blue: #616B9F;
  --device-xl: 1680px;
  --device-l: 1024px;
  --devive-s: 320px;
  --text-copy: 2rem;
  --strong-copy: 2.4rem;
  font-size: 62.5%;}